<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>

<nav th:replace="fragments :: my-navbar" />

<h1>Posts Show Page</h1>


<div class="form-group">
    <label for="title">Title</label>
    <input id="title" type="text" th:field="${post.title}"/>
</div>
<div class="form-group">
    <label for="body">Body</label>
    <input id="body" type="text" th:field="${post.body}"/>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="text" th:field="${post.owner.email}"/>
</div>

<button class="btn btn-default">Save</button>




</body>
</html>